<div class="container jumbotron-container">
  <div class="col-lg-8">
    <div class="jumbotron">
      <h1>Pizza Time!</h1>
      <hr>
      <p>Gimme pizza</p>
      <p>watch it rise like a souffle</p>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="well">
      <h4>Recent Videos</h4>
    </div>
  </div>
</div>
